<section class="container">
  <div class="row">
    <article class="col-md-6">
      <div class="panel panel-primary channel"
           ng-repeat="channel in vm.channels | orderBy: 'name'"
           ng-click="vm.setSelected(channel)">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span ng-show="vm.isSelected(channel)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{ channel.name }}
          </h3>
        </div>
        <div class="panel-body">
        <div class="headshot">
        <img src="{{channel.imageurl}}" alt="{{channel.name }}" class="img-responsive">
        </div>
        <div class="detail">
          <dl class="dl-horizontal">
            <dt>Description</dt><dd>{{ channel.description }}</dd>
            <dt>Active</dt><dd>{{ channel.active }}</dd>
            <dt>Owner</dt><dd>{{ channel.owner.name }}</dd>
            <dt>Messages</dt><dd><span class="badge" animate-on-change='channel.messages.length'>{{ channel.messages.length }}</span></dd>
          </dl>
          </div>
        </div>
      </div>
    </article>
    <article class="col-md-6" style="height: 400px; overflow-y: scroll;">
      <h3>{{ vm.selectedChannel.name }}</h3>
      <form>
        <textarea class="form-control"
                  rows="3"
                  ng-model="vm.newMessage"
                  tabindex="1"
                  onfocus="if (this.value=='type new message here') this.value = ''">
        </textarea>
        <br>
        <button type="submit" class="btn btn-primary" ng-click="vm.sendMessage()">Send</button>
      </form>
      <hr>
      <div class="animate-messages" ng-repeat="message in vm.selectedChannel.messages | orderBy: '-createdAt'">
        <dl>
          <dt><span class="text-primary"><strong>{{ message.user.name }}<strong></span> <small>{{ message.createdAt | date:"MM/dd/yyyy 'at' h:mma" }}</small></dt>
          <dd><div class="well" style="white-space: pre-wrap; padding: 9px;">{{ message.text }}</div></dd>
        </dl>
      </div>
    </article>
  </div>
</section>
